<form name='get[description]' action='/cool_url' method="GET">
  <textarea name="get[description]" rows='10' cols='30'></textarea>
  <br><input type='submit' value='Submit!'></br>
</form>

<form name='post[description]' action='/cool_url' method="POST" align='top'>
  <textarea name="post[description]" rows='10' cols='30'></textarea>
  <br><input type='submit' value='Submit!'></br>

  <input type ='radio' name='group1' value='Happy'> Happy<br>
  <input type ='radio' name='group1' value='Sad'> Sad<br>
  <input type ='radio' name='group1' value='Meh'> Meh<br>
  <br>
  <input type='checkbox' name='options[]' value='cheddar'> Cheddar<br>
  <input type='checkbox' name='options[]' value='munster'> Munster<br>
  <input type='checkbox' name='options[]' value='american'> American<br>
  <br>
  <select name='buns'>
    <option value='white'>White</option>
    <option value='wheat'>Wheat</option>
    <option value='sourdough'>Sourdough</option>
  </select>

</form>